body{
    margin: 0;
    font-family: sans-serif;
}

#page-heading {
    text-align: center;
    margin: 25px;
    color:grey; 
}

#contactbook{

/*     background-color: black; */
    height: 300px;
    width:100vw;
    display: flex;
    justify-content:center;
    overflow-y: scroll;

    
    

}

#contactlist {

    height: 70px;
    width: 250px;
   
    /* background-color: purple; */
    color: black;
    padding-left: 15px ;
    margin:0px;
  
 
}


#contactlist:hover{
    background-color: cornflowerblue;
}


#newcontact{
    display: block;
}

#add_contact{
    /* background-color: aqua; */
    
    display: flex;
    justify-content: center;
}
